* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Arial", "system-ui";
  font-size: 16px;
  color: var(--color-matsuba);
  /* colorcombinations.org/palettes/sakura-wakatake */
  --color-sakura: #F9D5E0;    /* cherry blossom pink */
  --color-wakatake: #A3C293;  /* young bamboo green */
  --color-kinari: #F8F4E9;    /* unbleached natural */
  --color-matsuba: #4C5D3F;   /* pine needle dark */
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: var(--color-sakura);
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-kinari);
  height: 50px;
}

h1 {
  text-align: center;
  padding: 10px 0 10px 0;
}

#container {
  flex-grow: 1;

  display: flex;
}

#newGameButtonContainer {
  display: flex;
  flex-direction: column;
  width: 50px;
}

#newGameButton,
#setNameButton,
#submitButton {
  color: var(--color-matsuba);
}

#newGameButton,
#setNameButton {
  flex-grow: 1;

  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.2rem;
  background-color: var(--color-kinari);
  border: none;
}

#newGameButton:hover,
#setNameButton:hover,
.boardSquare:hover,
#submitButton:hover {
  background-color: var(--color-wakatake);
  cursor: pointer;
}

#newGameButton:hover,
#setNameButton:hover,
#submitButton:hover {
  color: black;
}

#newGameButton:active,
.boardSquare:active,
#submitButton:active {
  box-shadow: inset -1px -1px var(--color-matsuba);
}

#setNameButton:active {
  box-shadow: inset -1px 1px var(--color-matsuba);
}

#gameContainer {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;

  height: 500px;
  width: 500px;
}

#gameBoard div {
  width: 100%;
}

.boardSquare {
  height: 100%;
  width: 100%;
  border-radius: unset;
  border: none;
  background-color: var(--color-kinari);
}

#nameFormContainer {
  visibility: hidden;

}

fieldset {
  border: none;
}

#formContainer {
  display: flex;
  gap: 10px;

  padding: 10px;
}

#nameFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nameField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

input {
  height: 3ch;
  border: none;
  padding: 0 0 0 2px;
}

input:focus {
  outline: 1px solid var(--color-matsuba);
}

#submitButton {
  height: 100%;
  width: 17ch;
  border-radius: unset;
  border: none;
  background-color: var(--color-kinari);
}

a {
  text-decoration: none;
  color: var(--color-matsuba);
}

a:hover {
  color: black;
}
